<p>
This workshop is run by the Oregon Data Science Collaborative, an NSF-funded collaborative institute between Oregon State University, University of Oregon, and Portland State University.  
For more information on ODSC and to explore other data science workshops, please visit
<a href="https://odsc.cqls.oregonstate.edu/">the ODSC website</a>. 
</p>

<p>
The materials for this workshop have been adapted from the <a href="https://software-carpentry.org/">Software Carpentry</a> curriculum. 
While this is not an official Software Caprentry workshop, participants are encouraged to explore the materials and other lessons from Software Carpentry.
</p>